@import '../../common-var.scss';

.device-block{
    margin-top: $unit * 10;
    margin-bottom: $unit * 10;
    padding-top: $unit * 10;
    padding-bottom: $unit * 10;
    background-color: $black-light;

    .section-title{
        text-align: left;
    }
    p{
        font-size: $unit * 2.35;
        line-height: $unit * 3.2;
        @include tabletPortrait() {
            font-size: $unit * 1.9;
            line-height: 1.4;
            margin-bottom: $margin-32 * 2;
        }
    }
    img{
        display: block;
        margin: auto;
    }
}