@import '../../common-var.scss';

.footerContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height:100vh;
    background: #101112;
    color: #fff;
}

.footerCopyright, .terms-conditions{
	position: absolute;
	bottom: 0;
	padding: $unit * 5;
	left: 0;
	z-index: 2;

	@include tabletPortrait() {
		position: initial;
		padding: 0;
		text-align: center;
	}

	h2{
		font-family: "Cambria";
		font-size: 45px;
		padding-bottom: $unit;
	}
	p, a{
		margin: 0;
		font-size: 14px;
	}
	a{
		margin-left: $margin-16;
		@include tabletPortrait() {
			margin: $margin-16;
		}
	}
}
.terms-conditions{
	right: 0;
	left: auto;
	@include tabletPortrait() {
		margin: $margin-16;
	}
}

.spiralWrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	overflow: hidden
}

.spiralSvg {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1000px;
	margin-top: -1000px;
	fill: none;
	stroke: #632ef5;
	stroke-linecap: round;
	stroke-width: .5px
}

@media (max-width:425px) {
	.spiralSvg {
		margin-top: -1050px
	}
}

.spiralUpperSvg {
	animation: transformUpperSpiral 18s infinite running none;
	transform: scale(.9) rotate(0);
}

.spiralLowerSvg {
	transform: scaleX(-1) scale(.9) rotate(0);
	animation: transformLowerSpiral 18s infinite;
}

@keyframes transformUpperSpiral{
	0% {
		transform: scale(.9) rotate(0);
	}
	50% {
		transform: scale(.9) rotate(-30deg)
	}
	100% {
		transform: scale(.9) rotate(0);
	}
}

@keyframes transformLowerSpiral{
	0% {
		transform: scaleX(-1) scale(.9) rotate(0);
	}
	50% {
		transform: scaleX(-1) scale(.9) rotate(-60deg)
	}
	100% {
		transform: scaleX(-1) scale(.9) rotate(0);
	}
}

.spiralCover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 1;
	background: radial-gradient(rgba(16, 17, 18, 0) 50%, #101112);
	background: radial-gradient(rgba(var($black), 0) 50%, rgba(var($black), 1))
}

.footerStamp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footerLogo {
    font-family: "Cambria";
    font-size: 80px;
	@include tabletPortrait() {
		font-size: 60px;
	}
}

.footerTagline {
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -1.2px;
    margin: 20px 0 40px;
    font-size: 34px;
	@include tabletPortrait() {
		font-size: 30px;
	}
}

.footerSubtag {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .2em;
    color: #fff;
    color: rgba(var(--white),1);
}